<section class="hero is-medium is-info">

    <div class="hero-body">
        <p class="title">
            More music, <br> no limits
        </p>
        <p class="subtitle">
            BopCity+ gives you offline and ad-free listening to <br> everything from mainstream releases to DJ sets and
            remixes.
        </p>
        <div class="buttons are-medium">
            <button routerLink="/try-free" class="button try">Try free for 30 days</button>
        </div>
        <div>
            <p class="rest">$9.99/month after 30 days. Restrictions apply**</p>
        </div>
    </div>
</section>