<section class="hero is-small is-link">
    <div class="hero-body">
        <p class="title has-text-black">
            Your subscription supports artists
        </p>
        <p class="subtitle has-text-black">
            When you listen as a Go+ subscriber, you contribute to fan-powered royalties that <br> directly support and
            help break the next big independent artists growing their <br> careers on SoundCloud.
        </p>

    </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>BopCity</strong> by <a href="claytonwingfield.com">Clayton Wingfield</a>.
        </p>
    </div>
</footer>