<section class="hero is-medium is-info">

    <div class="hero-body ">
        <p class="title">
            Discover more with BopCity+
        </p>
        <p class="subtitle">
            BopCity+ lets you listen offline, ad-free, with over 150 million tracks — and growing.
        </p>
        <div class="buttons are-medium">
            <button routerLink="/learn-more" class="button learn">Learn More</button>
            <button routerLink="/try-free" class="button try">Try free for 30 days</button>
        </div>
    </div>
</section>