<section class="hero is-small is-link">
    <div class="hero-body">
        <p class="title has-text-black">
            Thanks for listening. Now join in.
        </p>
        <p class="subtitle has-text-black">
            Save tracks, follow artists and build playlists. All for free.
        </p>
        <button routerLink="/sign-up" class="button create is-medium">Create Account</button>
        <a routerLink="/login">Already have an account?</a>
        <button routerLink="/login" class="button sign-in is-small">Sign in</button>
    </div>
</section>