<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a routerLink="/" class="navbar-item" href="#">
            <img [src]="logoUrl" width="100" height="100">
        </a>

        <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu"
            aria-expanded="false" data-target="navMenu">

            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>

        </a>
    </div>

    <div id="navMenu" class="navbar-menu" #navMenu>
        <div class="navbar-start">
            <a routerLink="/" class="navbar-item">
                Home
            </a>

            <a routerLink="/getting-started" class="navbar-item">
                Getting Started
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Grow your career
                </a>

                <div class=" navbar-dropdown">
                    <a routerLink="/profile" class="navbar-item">
                        Profile
                    </a>
                    <a routerLink="/engage" class="navbar-item">
                        Engage
                    </a>
                    <a routerLink="/monetization" class="navbar-item">
                        Monetization
                    </a>
                    <hr class="navbar-divider">
                    <a routerLink="/fourm" class="navbar-item">
                        Forum
                    </a>
                </div>
            </div>
        </div>



        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a routerLink="/sign-up" class="button signUp">
                        <strong>Sign up</strong>
                    </a>
                    <a routerLink="/login" class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>