<div class="container">
    <div class="card">
        <div class="card-image">

            <figure class="image is-4by3">
                <img class="album-art" [src]="albumArt" alt="Placeholder image">
                <div class="hover_class">
                    <a href="#"><img src="/assets/playbutton.png"></a>
                </div>
            </figure>


        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-7 song-name">{{songName}}</p>
                    <p class="title is-7 song-artist">{{artist}}</p>
                </div>
            </div>
        </div>
    </div>

</div>