<section class="section">
    <div class="container">
        <!-- 	Card 1	 -->
        <div class="card">
            <div class="card-content">
                <p class="title">
                    BopCity Go $4.99/month*
                </p>
                <ul class="subtitle">
                    <li>Ad-free listening</li>
                    <li> Save unlimited tracks for offline listening</li>
                    <li class="has-text-grey-lighter"> Access full catalog</li>
                    <li class="has-text-grey-lighter"> Mix tracks within select DJ apps</li>
                    <li class="has-text-grey-lighter"> High quality audio</li>

                </ul>
            </div>
            <footer class="card-footer second">
                <p class="card-footer-item">
                    <span>
                        <a class="has-text-black ">Start your 7-day free trial</a>
                    </span>
                </p>

            </footer>
        </div>
        <div class="card">
            <div class="card-content">
                <p class="title">
                    BopCity Go+ $9.99/month*
                </p>
                <ul class="subtitle">
                    <li>Ad-free listening</li>
                    <li>Save unlimited tracks for offline listening</li>
                    <li>Access full catalog</li>
                    <li>Mix tracks within select DJ apps</li>
                    <li>High quality audio</li>

                </ul>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item main ">
                    <span>
                        <a class="has-text-black">Start your 30-day free trial</a>
                    </span>
                </p>

            </footer>
        </div>
    </div>
</section>